.table-row {
  padding: 1rem;
  display: block;
}

.header-option {
  margin-left: 1rem;
}

.repo-desc {
  margin-top: "3px";
  margin-bottom: "3px";
  max-width: 80%;
}

/* if mobile */
@media (max-width: 768px) {
  .repo-desc {
    max-width: 100%;
  }
}

/* if tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  .repo-desc {
    max-width: 75%;
  }
}
